body{
    display: flex;
    flex-wrap: wrap;
   gap: 20px;
   justify-content: center; 
}
.container {
    display: grid;
    grid-template-rows: 280px 20px 25px 22px;
    /* background-color: aqua; */
    width: 214px;
}
.off{
    color: red;
}
.brand{
padding-left: 10px;
}
.description{
    padding-left: 10px;
}
.price{
    padding-left: 10px;
}
.image{
    position: relative;
}
.rating{
    background-color: aliceblue;
    position: absolute;
    bottom: 6px;
    left: 6px;
}
